.container{
    margin-top: 80px;
}

.container form{
    margin-top: 80px;
}

#event-create-container div{
    margin-top: 8px;
}

#event-create-container  h1 {
    text-align: center;

    
}

#box{
    display: flex;
    justify-content: center;
    gap: 20px
}
.btn{
    margin-top: 20px;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
}

#event-edit-container{
    position: relative;
}
#event-edit-container h1{
    text-align: center;
}

.form-delete{
    position: absolute;
    display: inline;
    right: 5px;
}
